{% extends 'mi_aplicacion/padre.html' %}

{% block barra %}
<a class="navbar-brand" href="{% url 'home' %}">Volver</a>
{% endblock barra %}

{% block cabecera %}
<header class="masthead">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">Pedidos</h1>
                <hr class="divider" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                 <a class="btn btn-primary btn-xl" href="#about">Opciones</a>
            </div>
        </div>
    </div>
</header>
{% endblock cabecera %}

{% block opciones %}
<section class="page-section bg-primary" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Opciones que se pueden gestionar</h2>
                <hr class="divider divider-light" />
                <p class="text-white-75 mb-4">Usted puede seleccionar "Agregar Pedidos" para agregar una nuevo pedido. O bien puede ingresar a "Buscar Pedidos" para buscar un pedido</p>
                <a class="btn btn-light btn-xl" href="{% url 'nuevo_pedido' %}">Agregar Pedidos</a>
                <a class="btn btn-light btn-xl" href="{% url 'buscar_pedido' %}">Buscar Pedidos</a>
            </div>
        </div>
    </div>
</section>
{% endblock opciones %}